# Visual Studio cache
.vs/

# Build directories
Debug/
Release/
x64/
x86/
ipch/

# Object files
*.obj
*.pdb
*.idb
*.ilk

# User-specific files
*.user
*.suo

# Build database
*.VC.opendb
*.vc.db

# CMake (ako ga koristiš)
CMakeFiles/
CMakeCache.txt

# NuGet / packages
packages/
